@font-face {
  font-family: "ogg";
  src: url("../fonts/Ogg/Ogg-Roman.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ogg";
  src: url("../fonts/Ogg/Ogg-Italic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
