.navbar {
  display: flex;
  width: 100%;
  min-height: 7vh;
  position:absolute;
  justify-content: center;
  align-items: center;
  padding: 20px 70px;
  //color: $white;
  z-index: 999;
  transition: 300ms ease-in-out;

  @media(max-width:1023px){
    padding: 10px 20px;
    justify-content: space-between;
    min-height: auto;
    height: 7vh;
  }

  &-title {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;
    letter-spacing: 2px;
    @media(max-width:1023px){
      flex: none;
    }
    h2 {
      font-weight: 400;
      transition: 300ms ease-in-out;
    }
  }

  .bubble-container{
    flex: 1;
    display: flex;
    justify-content: flex-start;

    @media(max-width:1023px){
      display: none;
    }

    
  }

  &-open {
    width: 100%;
    height: 100%;
    top: -100%;
    position: fixed;
    display: flex;
    padding-left: 70px;
    padding-right: 30px;
    align-items: center;
    background-color: $white;
    font-family: $ogg;
    transition: 300ms ease-in-out;
    z-index: 998;
    overflow-y: hidden;
    
    @media(max-width:1023px){
      justify-content: center;
      padding: 0px;
    }
    .navbar-open-container {
      display: flex;
      justify-content: space-between;
      width: 100%;

      @media(max-width:1023px){
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }

      .navbar-container{
        @media(max-width:1023px){
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
      .navbar-social{
        //flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;

        @media(max-width:1023px){
          flex:none;
          flex-direction: row;
          margin-bottom: 30px;
        }

        &-links{
          @media(max-width:1023px){
            display: flex;
            align-items: center;
          }
        }
        .span-link{
          transform: rotate(90deg);
          @media(max-width:1023px){
            transform: rotate(0deg);
          }
          &:hover{
            color: $yellow;
          }
        }
        a{
          display: flex;
          align-content: center;
          justify-content: center;
          text-transform: uppercase;
          opacity: 0.8;
          letter-spacing: 2px;
          font-size: 0.8rem;
          margin:100px 0px;
          transition: all 300ms ease-in-out;
          
          @media(max-width:1023px){
            margin: 0px 20px;
            transform: rotate(0deg);
          }
        }

        .cart-container{
          position:relative;
          display: flex;
          justify-content: center;
          align-items: center;          
          border-radius: 50%;
          background-color: $yellow;  
          height: 50px;
          width: 50px;
          svg{
            font-size: 30px;
          }
          .cart-length{
            position: absolute;
            top: 50%;
            left: 50%;
            //transform: translate(-50%, -50%);
            font-size: 18px;
            //right: 0;
          }
        }
      }
      @media(max-width:1023px){
        flex-direction:column;
      }
      .navbar-links-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-transform: uppercase;
        @media(max-width:1023px){
          width: auto;
          margin-top:40px;
        }
        .navbar-pairs{
          display: flex;
          justify-content: center;
          margin-top: 60px;
          div:first-child{
            flex: 1;
            display: flex;
          }
          div:nth-of-type(2){
            flex: 1;
            display: flex;
            //justify-content: center;

          }
          

          
          @media(max-width:1023px){
            flex-direction: column;
            margin-top: 0px;
          }
          
        }
        
        .navlink-router{
          display: flex;
          align-items: center;
          
          .bubble{
            transition: all 0.5s ease-out;
            color: $black;
            
            &:hover{
              color: $black;
            }
          }
        }

        .title-link{
          transition: all 300ms ease-in-out;
        }
        
        .numeral-link{
          margin-right: 20px;
          font-size: 15px;
          @media(max-width:1000px){
            font-size: 12px;
          }
        }

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: $black;
          font-size: 50px;
          transition: all 300ms ease-in-out;
          @media(max-width:1023px){
            font-size: 30px;
            margin-bottom: 10px;
          }
          &:hover .title-link{
            color: $yellow;
          }
          
        }

      }
    }
  }

  .hamburger-container{
    display: flex;
    justify-content: flex-end;
    flex:1;
    @media(max-width:1023px){
      flex: none;
    }
  }

  .hamburger-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    .hamburger-bar {
      width: 28px;
      height: 2px;
      background-color: $white;
      margin: 5px 0;
      transition: 300ms ease-in-out;
    }
  }

  .hamburger-open {
    :first-child {
      transform: rotate(-45deg) translate(-2px, 4px);
    }
    :nth-child(2) {
      transform: rotate(45deg) translate(-4px, -6px);
    }
  }
}

.nav-transititon {
  top: 0% !important;
}

.navbar-background {
  background-color: rgba(0, 0, 0, 0.336);
}
.active-nav-link {
  color: $yellow !important;
}
