.product-wrapper {
  display: flex;

  @media (max-width: 960px) {
    flex-direction: column;
  }
  .product-image {
    width: 50%;
    @media (max-width: 960px) {
      width: 100%;
    }
  }

  .product-info {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 100px;

    @media (max-width: 1400px) {
      padding: 0px 50px;
    }

    @media (max-width: 1200px) {
      padding: 10px 40px;
    }
    @media (max-width: 960px) {
      width: 100%;
    }
    h3 {
      font-size: 30px;
      margin-bottom:20px;
    }
    .product-price {
      font-weight: bold;
      margin-bottom: 20px;
    }
    .product-description {
      margin-bottom: 20px;
      font-size: 14px;
    }
    .product-cart-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 960px) {
        flex-direction: column;
      }

      .product-cart-handle {
        display: flex;
        align-items: center;
        color: $red;
        span {
          margin: 0px 50px;
        }
        p {
          cursor: pointer;
        }
        @media (max-width: 960px) {
          margin-right: 10px;
        }
      }

      .container {
        margin-left: 30px;
        @media (max-width: 960px) {
          margin-left: 10px;
          margin-bottom: 20px;
        }
        .bubble {
          color: $white;
          font-weight: 600;
          letter-spacing: 1px;
          font-size: 10px;
          white-space: pre;
          text-transform: uppercase;
          font-family: $raleway;
        }
      }
    }
  }

  .product-general{
    margin-top: 50px;
  }
  .Collapsible{
    border-bottom: 1px solid black;
    //padding-bottom: 30px;
    margin-bottom: 40px;
    font-family: $raleway;

    span{
      //display: block;
      //margin-top: 40px;
    }
    .Collapsible__contentInner{
      padding-bottom: 30px;
      font-size: 13px;
    }
    .collapsible-header{
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      font-weight: 600;
      cursor: pointer;
      font-size: 12px;
    }
  }
}
