.projects {
  display: flex;
  min-height: 100vh;
  background-color: $white;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 250px;
  padding-bottom: 100px;
  color: $black;
  @media (max-width: 1500px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (max-width: 1180px) {
    padding: 100px 30px;
    flex-direction: column;
    width: 100vw;
  }
  &-fixed {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 80px;
    height: 100%;
    width: 90%;
    text-transform: uppercase;

    .bubble-container {
      display: flex;
      justify-content: flex-end;
      color: $white;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 10px;
      text-transform: uppercase;
      font-family: $raleway;
      margin-left: 20px;
      margin-bottom: 20px;
    }
    
    @media (max-width: 1180px) {
      position: static;
      margin-bottom: 40px;
    }
    span {
      text-transform: uppercase;
      font-size: 10px;
      margin-bottom: 10px;
    }
    &-container-title {
      //width: 631px;
      display: flex;
      flex-direction: column;
      white-space: pre;

      @media (max-width: 1180px) {
        width: auto;
      }
      h3 {

        font-weight: 400;
        font-size: 70px;
        line-height: 1;
        @media (max-width: 1180px) {
          font-size: 7vh;
        }
      }

      .bubble {
        align-self: flex-end;
        //margin-bottom: 50px;

      }
    }
  }

  &-gallery-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 100px;

    @media (max-width: 1180px) {
      flex-direction: column;
      margin-left: 0px;
      align-items: center;
    }
    .projects-gallery {
      display: flex;
      flex-direction: column;
    }
    .group1 {
      margin-top: -100px;
      @media (max-width: 1500px) {
        margin-right: 20px;
      }

      @media (max-width: 1180px) {
        margin-top: 0px;
        margin-right: 0px;
      }
    }

    .group2 {
      :last-child {
        margin-bottom: 0px;
      }
    }

    .projects-gallery-element {
      position: relative;
      margin-bottom: 100px;
      display: flex;
      color: $white;

      @media (max-width: 1180px) {
        margin-bottom: 40px;
      }

      &:hover > .projects-gallery-info {
        opacity: 1;
      }
      .projects-gallery-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        position: absolute;
        opacity: 0;
        background-color: #4b0705db;
        transition: 300ms ease-in-out;
        h4 {
          font-size: 40px;
          @media (max-width: 1500px) {
            font-size: 30px;
          }
          @media (max-width: 1400px) {
            font-size: 24px;
            //margin-bottom: 20px;
          }

          @media (max-width: 1280px) {
            font-size: 21px;
            margin-bottom: 20px;
          }
          @media (max-width: 968px) {
            font-size: 30px;
          }
        }
        p {
          font-size: 12px;
          line-height: 1.5rem;
          @media (max-width: 1500px) {
            line-height: 1.1rem;
          }
          @media (max-width: 1280px) {
            line-height: 1rem;
          }
          @media (max-width: 1500px) {
            font-size: 11px;
          }
          @media (max-width: 968px) {
            font-size: 10px;
          }
        }
      }
    }
  }
}
.projects-asked-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: 1180px) {
    padding: 100px 30px;
  }
  span {
    text-transform: uppercase;
    opacity: 0.7;
    font-size: 12px;
    margin-bottom: 30px;
  }

  &-title {
    text-align: center;
    margin-bottom: 100px;
    div {
      display: flex;
      justify-content: center;
      .header-container{
        flex: 1;
        justify-content: flex-end;
      }
      .bubble {
        margin-left: 20px;
        color: $white;
        letter-spacing: 1px;
        font-size: 12px;
        text-transform: uppercase;
        font-family: $raleway;
      }
    }
    h3 {
      font-size: 8vh;
      opacity: 0.8;
      line-height: 1;
      text-transform: uppercase;
      @media (max-width: 1180px) {
        font-size: 6vh;
      }
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    @media (max-width: 1180px) {
      grid-template-columns: repeat(1, 1fr);
    }
    .asked-question-grid-item {
      .grid-item-title {
        h3 {
          font-family: $raleway;
          font-weight: lighter;
          font-size: 24px;
        }
        margin-bottom: 20px;
      }
      .grid-item-description {
        font-size: 12px;
        line-height: 1.5rem;
      }
    }
  }
}
