@font-face {
  font-family: "ogg";
  src: url("../fonts/Ogg/Ogg-Roman.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ogg";
  src: url("../fonts/Ogg/Ogg-Italic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.bubble div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bubble-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: "Raleway";
  text-transform: uppercase;
  font-size: 9px;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.bubble-nav:hover {
  opacity: 0.8;
}

.bubble-nav span {
  position: absolute;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

body {
  background-color: #f5ede7;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ogg";
}

p,
span {
  font-family: "Raleway";
}

section {
  height: 100vh;
}

@-webkit-keyframes changeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes changeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-image-wrapper {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-image-wrapper .home-image {
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 800px) {
  .home-image-wrapper .home-image {
    width: 100%;
  }
}

.home-image-wrapper .home-image-left {
  background-image: url("../images/home/left-image.jpg");
}

@media (max-width: 800px) {
  .home-image-wrapper .home-image-left {
    display: none;
  }
}

.home-image-wrapper .home-image-right {
  background-image: url("../images/home/right-image.jpg");
}

.home-about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 120px 100px;
  background-color: #f5ede7;
  color: #242424;
  min-height: 100vh !important;
}

@media (max-width: 1024px) {
  .home-about-wrapper {
    padding: 100px 30px;
  }
}

.home-about-wrapper .home-about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .home-about-wrapper .home-about-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-about-wrapper .home-about-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-about-wrapper .home-about-header span {
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0.6;
}

.home-about-wrapper .home-about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .home-about-wrapper .home-about-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
}

.home-about-wrapper .home-about-title .bubble-container {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.home-about-wrapper .home-about-title .bubble {
  color: #f5ede7;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Raleway";
}

@media (max-width: 1024px) {
  .home-about-wrapper .home-about-title .bubble {
    text-align: center;
  }
}

.home-about-wrapper .home-about-title h3 {
  font-size: 10vh;
}

@media (max-width: 1280px) {
  .home-about-wrapper .home-about-title h3 {
    font-size: 8vh;
  }
}

@media (max-width: 1024px) {
  .home-about-wrapper .home-about-title h3 {
    font-size: 6vh;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 1280px) {
  .home-about-wrapper .home-about-info {
    margin-left: 20px;
    padding: 0px 30px;
  }
}

@media (max-width: 1024px) {
  .home-about-wrapper .home-about-info {
    padding: 0px;
    margin-left: 0px;
  }
}

.home-about-wrapper .home-about-info p {
  font-size: 14px;
  line-height: 30px;
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .home-about-wrapper .home-about-info p {
    font-size: 12px;
  }
}

.home-service-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #4B0705;
  color: #f5ede7;
  padding-bottom: 100px;
}

@media (max-width: 1000px) {
  .home-service-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0px;
  }
}

.home-service-wrapper .home-service-header-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 248px 30px 100px;
}

@media (max-width: 1000px) {
  .home-service-wrapper .home-service-header-wrapper {
    padding: 20px 30px 50px 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home-service-wrapper .home-service-header-wrapper .home-service-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-service-wrapper .home-service-header-wrapper .home-service-header h3 {
  font-size: 80px;
}

@media (max-width: 1000px) {
  .home-service-wrapper .home-service-header-wrapper .home-service-header h3 {
    font-size: 6vh;
  }
}

.home-service-wrapper .home-service-header-wrapper .home-service-header p {
  word-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.8;
}

@media (max-width: 1000px) {
  .home-service-wrapper .home-service-header-wrapper .home-service-header p {
    font-size: 10px;
  }
}

.home-service-wrapper .home-service-carousel {
  position: relative;
}

.home-service-wrapper .home-service-carousel .swiper {
  margin-left: 200px;
  position: static;
}

@media (max-width: 1000px) {
  .home-service-wrapper .home-service-carousel .swiper {
    margin-left: 0px;
  }
}

.home-service-wrapper .home-service-carousel .swiper .swiper-button-prev,
.home-service-wrapper .home-service-carousel .swiper .swiper-button-next {
  left: 5% !important;
  color: #f5ede7;
}

.home-service-wrapper .home-service-carousel .swiper .swiper-button-prev {
  top: 40% !important;
}

@media (max-width: 1000px) {
  .home-service-wrapper .home-service-carousel .swiper .swiper-button-prev {
    top: 100% !important;
    left: 45% !important;
  }
}

.home-service-wrapper .home-service-carousel .swiper .swiper-button-next {
  top: 55% !important;
}

@media (max-width: 1000px) {
  .home-service-wrapper .home-service-carousel .swiper .swiper-button-next {
    top: 100% !important;
    left: 55% !important;
  }
}

.home-service-wrapper .home-service-carousel .slide-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 30px;
}

@media (max-width: 1280px) {
  .home-service-wrapper .home-service-carousel .slide-info {
    padding: 30px;
  }
}

.home-service-wrapper .home-service-carousel .slide-info .slide-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.home-service-wrapper .home-service-carousel .slide-info .slide-header .bubble {
  color: #4B0705;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Raleway";
}

.home-service-wrapper .home-service-carousel .slide-info .slide-header h3 {
  font-size: 7vh;
}

@media (max-width: 1280px) {
  .home-service-wrapper .home-service-carousel .slide-info .slide-header h3 {
    font-size: 4vh;
  }
}

.home-service-wrapper .home-service-carousel .slide-info .slide-text {
  line-height: 30px;
}

.home-service-wrapper .home-service-carousel .slide-info .slide-text p {
  max-width: 618px;
  font-size: 15px;
}

.home-service-wrapper .home-service-carousel .slide-info .slide-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-projects-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 100px;
  background-color: #f5ede7;
  color: #242424;
  height: auto !important;
}

@media (max-width: 1000px) {
  .home-projects-wrapper {
    padding: 0px;
  }
}

.home-projects-wrapper .home-projects-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .home-projects-wrapper .home-projects-info-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-projects-wrapper .home-projects-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1000px) {
  .home-projects-wrapper .home-projects-info {
    padding: 30px;
  }
}

.home-projects-wrapper .home-projects-info .home-projects-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .home-projects-wrapper .home-projects-info .home-projects-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-projects-wrapper .home-projects-info .home-projects-header .bubble {
  margin-left: -200px;
  margin-bottom: 50px;
  font-family: "Raleway";
  color: #f5ede7;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 10px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .home-projects-wrapper .home-projects-info .home-projects-header .bubble {
    margin-left: 0px;
    margin-bottom: 0px;
  }
}

@media (max-width: 1000px) {
  .home-projects-wrapper .home-projects-info .home-projects-header .bubble {
    margin-left: 0px;
  }
}

.home-projects-wrapper .home-projects-info p {
  font-size: 12px;
  opacity: 0.7;
  text-transform: uppercase;
}

.home-projects-wrapper .home-projects-info h3 {
  font-size: 10vh;
  width: 748px;
}

@media (max-width: 1280px) {
  .home-projects-wrapper .home-projects-info h3 {
    font-size: 8vh;
    width: auto;
  }
}

@media (max-width: 1000px) {
  .home-projects-wrapper .home-projects-info h3 {
    font-size: 6vh;
  }
}

.home-projects-wrapper .home-projects-info h3 div {
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.home-projects-wrapper .home-projects-info h3 div:hover {
  opacity: 0.8;
}

.home-projects-wrapper .home-projects-info h3 span {
  font-family: "ogg";
  position: relative;
}

.home-projects-wrapper .home-projects-info h3 span:after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #CECF70;
  left: 0;
  top: 100%;
  position: absolute;
}

.home-projects-wrapper .home-projects-info .bubble {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 7vh;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 70px;
  z-index: 99;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

@media (max-width: 1023px) {
  .navbar {
    padding: 10px 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navbar-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: lowercase;
  letter-spacing: 2px;
}

@media (max-width: 1023px) {
  .navbar-title {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

.navbar-title h2 {
  font-weight: 400;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.navbar .bubble-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1023px) {
  .navbar .bubble-container {
    display: none;
  }
}

.navbar-open {
  width: 100%;
  height: 100%;
  top: -100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5ede7;
  font-family: "ogg";
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  z-index: 98;
  overflow-y: hidden;
}

@media (max-width: 1023px) {
  .navbar-open {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px;
  }
}

.navbar-open .navbar-open-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 1023px) {
  .navbar-open .navbar-open-container {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1023px) {
  .navbar-open .navbar-open-container .navbar-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navbar-open .navbar-open-container .navbar-social {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1023px) {
  .navbar-open .navbar-open-container .navbar-social {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 30px;
  }
}

.navbar-open .navbar-open-container .navbar-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  opacity: 0.8;
  letter-spacing: 2px;
  font-size: 0.8rem;
  margin: 50px 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.navbar-open .navbar-open-container .navbar-social a:hover {
  color: #CECF70;
}

@media (max-width: 1023px) {
  .navbar-open .navbar-open-container .navbar-social a {
    margin: 0px 20px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media (max-width: 1023px) {
  .navbar-open .navbar-open-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar-open .navbar-open-container .navbar-links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

@media (max-width: 1023px) {
  .navbar-open .navbar-open-container .navbar-links-wrapper {
    width: auto;
  }
}

.navbar-open .navbar-open-container .navbar-links-wrapper .navbar-pairs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1023px) {
  .navbar-open .navbar-open-container .navbar-links-wrapper .navbar-pairs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar-open .navbar-open-container .navbar-links-wrapper .navlink-router {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-open .navbar-open-container .navbar-links-wrapper .navlink-router .bubble {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: #f5ede7;
}

.navbar-open .navbar-open-container .navbar-links-wrapper .navlink-router .bubble:hover {
  color: #242424;
}

.navbar-open .navbar-open-container .navbar-links-wrapper .title-link {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.navbar-open .navbar-open-container .navbar-links-wrapper .numeral-link {
  margin-right: 20px;
  font-size: 15px;
}

@media (max-width: 1000px) {
  .navbar-open .navbar-open-container .navbar-links-wrapper .numeral-link {
    font-size: 12px;
  }
}

.navbar-open .navbar-open-container .navbar-links-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #242424;
  font-size: 50px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media (max-width: 1023px) {
  .navbar-open .navbar-open-container .navbar-links-wrapper a {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

.navbar-open .navbar-open-container .navbar-links-wrapper a:hover .title-link {
  color: #CECF70;
}

.navbar .hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1023px) {
  .navbar .hamburger-container {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

.navbar .hamburger-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.navbar .hamburger-nav .hamburger-bar {
  width: 28px;
  height: 2px;
  background-color: #f5ede7;
  margin: 5px 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.navbar .hamburger-open :first-child {
  -webkit-transform: rotate(-45deg) translate(-2px, 4px);
          transform: rotate(-45deg) translate(-2px, 4px);
}

.navbar .hamburger-open :nth-child(2) {
  -webkit-transform: rotate(45deg) translate(-4px, -6px);
          transform: rotate(45deg) translate(-4px, -6px);
}

.nav-transititon {
  top: 0% !important;
}

.navbar-background {
  background-color: rgba(0, 0, 0, 0.336);
}

.active-nav-link {
  color: #CECF70 !important;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  background-color: #ffffff;
}

@media (max-width: 1180px) {
  .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 30vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-follow span {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.7;
}

.footer-follow h3 {
  color: #242424;
  font-size: 10vh;
  font-weight: 400;
}

.footer-social-images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social-images :nth-child(2),
.footer-social-images :nth-child(3) {
  border-left: none;
}

.footer-social-images :nth-child(3) {
  border-right: none;
}

.footer-social-images .swiper-button-prev,
.footer-social-images .swiper-button-next {
  display: none;
}

.footer-social-images .swiper-wrapper :nth-child(2),
.footer-social-images .swiper-wrapper :nth-child(3) {
  border-left: none;
}

.footer-social-images .swiper-wrapper :nth-child(3) {
  border-right: none;
}

.footer-social-images .swiper-slide {
  border: 1px solid #CECF70;
}

.footer-social-images-container {
  width: 100%;
  border: 1px solid #CECF70;
  padding: 20px 20px 80px 20px;
}

@media (max-width: 1024px) {
  .footer-social-images-container {
    padding: 20px;
    border: none;
  }
}

.footer footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1180px) {
  .footer footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 1180px) {
  .footer footer .footer-copyright {
    font-size: 10px;
  }
}

@media (max-width: 1180px) {
  .footer footer .footer-social {
    margin-bottom: 40px;
  }
}

.footer footer .footer-social span {
  opacity: 0.8;
  margin: 0px 20px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background-color: #f5ede7;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 250px;
  padding-bottom: 100px;
  color: #242424;
}

@media (max-width: 1280px) {
  .projects {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 1180px) {
  .projects {
    padding: 100px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
  }
}

.projects-fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  height: 100%;
}

.projects-fixed .bubble-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #f5ede7;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Raleway";
  margin-top: -120px;
}

@media (max-width: 1180px) {
  .projects-fixed .bubble-container {
    margin-top: 0px;
  }
}

@media (max-width: 1180px) {
  .projects-fixed {
    position: static;
    margin-bottom: 40px;
  }
}

.projects-fixed span {
  text-transform: uppercase;
  opacity: 0.7;
  font-size: 12px;
}

.projects-fixed-container-title {
  width: 631px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: pre-wrap;
}

@media (max-width: 1180px) {
  .projects-fixed-container-title {
    width: auto;
  }
}

.projects-fixed-container-title h3 {
  font-weight: 400;
  font-size: 10vh;
}

@media (max-width: 1180px) {
  .projects-fixed-container-title h3 {
    font-size: 7vh;
  }
}

.projects-fixed-container-title .bubble {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 50px;
  margin-left: -100px;
}

.projects-gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 100px;
}

@media (max-width: 1180px) {
  .projects-gallery-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.projects-gallery-container .projects-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-gallery-container .group1 {
  margin-top: -100px;
}

@media (max-width: 1280px) {
  .projects-gallery-container .group1 {
    margin-right: 20px;
  }
}

@media (max-width: 1180px) {
  .projects-gallery-container .group1 {
    margin-top: 0px;
    margin-right: 0px;
  }
}

.projects-gallery-container .projects-gallery-element {
  position: relative;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f5ede7;
}

@media (max-width: 1180px) {
  .projects-gallery-container .projects-gallery-element {
    margin-bottom: 40px;
  }
}

.projects-gallery-container .projects-gallery-element:hover > .projects-gallery-info {
  opacity: 1;
}

.projects-gallery-container .projects-gallery-element .projects-gallery-info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  position: absolute;
  opacity: 0;
  background-color: #4b0705ab;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.projects-gallery-container .projects-gallery-element .projects-gallery-info h4 {
  font-size: 40px;
}

@media (max-width: 1280px) {
  .projects-gallery-container .projects-gallery-element .projects-gallery-info h4 {
    font-size: 20px;
  }
}

@media (max-width: 1280px) {
  .projects-gallery-container .projects-gallery-element .projects-gallery-info p {
    font-size: 12px;
  }
}

.projects-asked-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 1180px) {
  .projects-asked-question {
    padding: 100px 30px;
  }
}

.projects-asked-question span {
  text-transform: uppercase;
  opacity: 0.7;
  font-size: 12px;
}

.projects-asked-question-title {
  text-align: center;
  margin-bottom: 100px;
}

.projects-asked-question-title div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-asked-question-title div .bubble {
  margin-left: 20px;
  color: #f5ede7;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Raleway";
}

.projects-asked-question-title h3 {
  font-size: 8vh;
  opacity: 0.8;
}

@media (max-width: 1180px) {
  .projects-asked-question-title h3 {
    font-size: 6vh;
  }
}

.projects-asked-question-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

@media (max-width: 1180px) {
  .projects-asked-question-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.projects-asked-question-grid .asked-question-grid-item .grid-item-title {
  margin-bottom: 20px;
}

.projects-asked-question-grid .asked-question-grid-item .grid-item-title h3 {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 24px;
}

.projects-asked-question-grid .asked-question-grid-item .grid-item-description {
  font-size: 12px;
  line-height: 1.5rem;
}

.services {
  background-color: #4B0705;
  text-align: center;
  color: #f5ede7;
}

@media (max-width: 1000px) {
  .services {
    text-align: start;
  }
}

.services .services-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 480px;
}

@media (max-width: 1280px) {
  .services .services-info {
    padding: 150px 100px;
  }
}

@media (max-width: 1000px) {
  .services .services-info {
    padding: 150px 30px;
  }
}

.services .services-info span {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  opacity: 0.8;
}

.services .services-info p {
  font-size: 13px;
  line-height: 30px;
  padding: 20px;
}

@media (max-width: 1000px) {
  .services .services-info p {
    padding: 0px;
    font-size: 12px;
  }
}

.services .services-info h3 {
  font-size: 12vh;
}

@media (max-width: 1280px) {
  .services .services-info h3 {
    font-size: 13vh;
  }
}

@media (max-width: 1000px) {
  .services .services-info h3 {
    font-size: 7vh;
  }
}

.services-images-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: -20px;
}

.services-images-container .service-image {
  width: 400px;
  height: 48px;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1280px) {
  .services-images-container .service-image {
    width: 300px;
  }
}

.services-images-container .image1 {
  background-image: url("../images/footer/footer4.jpg");
}

@media (max-width: 1000px) {
  .services-images-container .image1 {
    display: none;
  }
}

.services-images-container .image2 {
  background-image: url("../images/footer/footer2.jpg");
}

@media (max-width: 1000px) {
  .services-images-container .image2 {
    display: none;
  }
}

.services-images-container .image3 {
  background-image: url("../images/footer/footer3.jpg");
}

.services-images-container .image4 {
  background-image: url("../images/footer/footer1.jpg");
}

@media (max-width: 1000px) {
  .services-images-container .image4 {
    display: none;
  }
}

.services-options-container {
  background-color: #f5ede7;
  color: black;
  padding: 0px 20px;
  padding-top: 100px;
}

.services-options-container .services-option {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 200px;
  border-top: 1px solid #CECF70;
  border-bottom: 1px solid #CECF70;
  padding: 0px 40px;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

@media (max-width: 1000px) {
  .services-options-container .services-option {
    padding: 0px 10px;
  }
}

.services-options-container .services-option-header {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.services-options-container .services-option-header span {
  font-size: 20px;
  opacity: 0.8;
}

@media (max-width: 1000px) {
  .services-options-container .services-option-header span {
    font-size: 12px;
  }
}

.services-options-container .services-option-header img {
  position: absolute;
  width: 600px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.services-options-container .services-option-header .services-title-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.services-options-container .services-option-header .services-title-subtitle .service-option-text {
  opacity: 0;
  margin-top: -50px;
}

.services-options-container .services-option-header .services-title-subtitle span {
  display: inline;
  color: #4B0705;
  font-size: 16px;
  text-decoration: underline;
  text-transform: uppercase;
}

.services-options-container .services-option-header .services-title-subtitle span:hover {
  opacity: 0.8;
}

.services-options-container .services-option-header .services-title-subtitle h4 {
  font-size: 60px;
  font-weight: 400;
  z-index: 10;
}

@media (max-width: 1000px) {
  .services-options-container .services-option-header .services-title-subtitle h4 {
    font-size: 5vh;
  }
}

@media (max-width: 600px) {
  .services-options-container .services-option-header .services-title-subtitle h4 {
    font-size: 4vh;
  }
}

.services-options-container .open {
  height: 400px;
}

.services-options-container .open .services-title-subtitle {
  height: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: start;
}

.services-options-container .open .services-title-subtitle h4 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

@media (max-width: 1280px) {
  .services-options-container .open .services-title-subtitle h4 {
    font-size: 5vh;
  }
}

@media (max-width: 600px) {
  .services-options-container .open .services-title-subtitle h4 {
    font-size: 4vh;
  }
}

.services-options-container .open .services-title-subtitle .service-option-text {
  opacity: 1;
  margin-top: 0;
}

@media (max-width: 1000px) {
  .services-options-container .open .services-title-subtitle .service-option-text {
    padding: 0px 20px;
  }
}

.services-options-container .open .services-title-subtitle p {
  margin-top: 0;
  font-size: 14px;
}

@media (max-width: 1000px) {
  .services-options-container .open .services-title-subtitle p {
    font-size: 12px;
  }
}

.services-options-container .open .services-title-subtitle span {
  margin-top: 20px;
}

.services-quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #f5ede7;
  color: #242424;
  padding: 100px 80px;
}

@media (max-width: 1000px) {
  .services-quiz {
    padding: 100px 30px;
    min-height: auto;
  }
}

.services-quiz-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-quiz-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-quiz-images div {
  margin-bottom: 40px;
}

@media (max-width: 1000px) {
  .services-quiz-images div {
    display: none;
  }
}

.services-quiz-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

@media (max-width: 1280px) {
  .services-quiz-info {
    width: 62%;
    margin-right: 20px;
  }
}

@media (max-width: 1000px) {
  .services-quiz-info {
    width: auto;
  }
}

.services-quiz-info .bubble {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #f5ede7;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 10px;
  font-family: "Raleway";
  text-transform: uppercase;
}

.services-quiz-info h3 {
  text-align: start;
  font-size: 12vh;
}

@media (max-width: 1280px) {
  .services-quiz-info h3 {
    font-size: 8vh;
  }
}

@media (max-width: 1000px) {
  .services-quiz-info h3 {
    font-size: 6vh;
  }
}

.services-quiz-info > span {
  font-size: 12px;
  opacity: 0.7;
  text-transform: uppercase;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 200px 100px;
}

@media (max-width: 1024px) {
  .about {
    padding: 150px 30px;
  }
}

.about .second-about {
  margin-top: 70px;
}

@media (max-width: 1024px) {
  .about .second-about {
    margin-top: 0px;
  }
}

.about .about-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .about .about-image {
    margin-top: 40px;
  }
}

.about-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .about-profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-profile .second-profile-col {
  margin-right: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1024px) {
  .about-profile .second-profile-col {
    margin-right: 0px;
  }
}

.about-profile .third-profile-col {
  margin-left: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 1024px) {
  .about-profile .third-profile-col {
    margin-left: 0px;
  }
}

.about-profile-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-profile-col p {
  font-size: 12px;
  opacity: 0.8;
  line-height: 1.5rem;
}

@media (max-width: 767px) {
  .about-profile-col p {
    font-size: 10px;
  }
}

@media (max-width: 1024px) {
  .about-profile-col p {
    margin-top: 40px;
  }
}

.about-profile-col .col-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 200px;
}

@media (max-width: 1024px) {
  .about-profile-col .col-header {
    margin-right: 0px;
  }
}

.about-profile-col .col-header .bubble {
  margin-left: 40px;
  color: #f5ede7;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Raleway";
}

@media (max-width: 1024px) {
  .about-profile-col .col-header .bubble {
    font-size: 8px;
  }
}

.about-profile-col .col-header :first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1024px) {
  .about-profile-col .col-header :first-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-profile-col .col-header-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1024px) {
  .about-profile-col .col-header-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-profile-col .col-header h3 {
  font-size: 12vh;
  font-weight: 400;
  opacity: 0.9;
}

@media (max-width: 1024px) {
  .about-profile-col .col-header h3 {
    font-size: 8vh;
  }
}

.about-profile-col:nth-child(2) .col-text {
  margin-bottom: 20px;
}

.about-featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #4B0705;
  padding: 130px 300px;
  color: #f5ede7;
}

@media (max-width: 1024px) {
  .about-featured {
    padding: 50px 50px;
  }
}

.about-featured-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-featured-header h3 {
  font-size: 10vh;
  white-space: pre;
}

@media (max-width: 1024px) {
  .about-featured-header h3 {
    font-size: 6vh;
  }
}

.about-featured-header span {
  font-size: 12px;
  opacity: 0.7;
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .about-featured-header span {
    font-size: 10px;
  }
}

.about-featured-companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .about-image-horizontal {
    display: none;
  }
}

@media (min-width: 1000px) {
  .about-image-vertical {
    display: none;
  }
}

.contact {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5ede7;
  color: #242424;
  padding: 0px 200px;
}

@media (max-width: 1180px) {
  .contact {
    padding: 0px;
  }
}

.contact-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1180px) {
  .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 30px;
  }
}

.contact-wrapper .contact-info span {
  opacity: 0.7;
  font-size: 12px;
  text-transform: uppercase;
}

.contact-wrapper .contact-info .quiz-h3 {
  font-size: 10vh;
}

@media (max-width: 1180px) {
  .contact-wrapper .contact-info .quiz-h3 {
    font-size: 7vh;
  }
}

.contact-wrapper .contact-info h3 {
  font-size: 10vh;
}

@media (max-width: 1180px) {
  .contact-wrapper .contact-info h3 {
    font-size: 8vh;
  }
}

.contact-wrapper .contact-info-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 30px;
}

@media (max-width: 1180px) {
  .contact-wrapper .contact-info-paragraph {
    font-size: .8rem;
    margin: 30px 0px;
  }
}

.contact-wrapper .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  font-family: "Raleway";
}

@media (max-width: 1180px) {
  .contact-wrapper .contact-form {
    width: 100%;
  }
}

.contact-wrapper .contact-form ::-webkit-input-placeholder {
  color: #CECF70;
  font-weight: 600;
}

.contact-wrapper .contact-form :-ms-input-placeholder {
  color: #CECF70;
  font-weight: 600;
}

.contact-wrapper .contact-form ::-ms-input-placeholder {
  color: #CECF70;
  font-weight: 600;
}

.contact-wrapper .contact-form ::placeholder {
  color: #CECF70;
  font-weight: 600;
}

.contact-wrapper .contact-form label {
  opacity: 0.8;
  letter-spacing: 2px;
}

.contact-wrapper .contact-form input,
.contact-wrapper .contact-form textarea {
  color: #CECF70;
  background: none;
  border: none;
  border-bottom: 1px solid #CECF70;
  resize: none;
  outline: none;
  font-family: "Raleway";
  width: 100%;
  opacity: 0.8;
  margin-bottom: 30px;
}

.contact-wrapper .contact-form input {
  padding: 10px 0px;
}

.contact-wrapper .contact-form textarea {
  height: 100px;
}

.contact-wrapper .contact-form .bubble {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #f5ede7;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
}

.quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0px;
}

.quiz-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #242424;
  padding: 0px 500px;
  text-align: center;
}

@media (max-width: 1500px) {
  .quiz-info {
    padding: 0px 250px;
  }
}

@media (max-width: 1000px) {
  .quiz-info {
    padding: 0px 30px;
    text-align: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.quiz-info h3 {
  font-size: 10.5vh;
}

@media (max-width: 1000px) {
  .quiz-info h3 {
    font-size: 6vh;
  }
}

.quiz-info p {
  font-size: 12px;
  width: 50%;
}

@media (max-width: 1000px) {
  .quiz-info p {
    width: auto;
  }
}

.quiz-info span {
  font-size: 12px;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.quiz .disabled {
  display: none;
}

.quiz-game-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 40px;
}

@media (max-width: 1280px) {
  .quiz-game-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  .quiz-game-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.quiz-game-container .active {
  -webkit-filter: grayscale(0.8);
          filter: grayscale(0.8);
}

.quiz-game-container .quiz-element {
  position: relative;
  color: #f5ede7;
  cursor: pointer;
  overflow: hidden;
  -ms-grid-column-align: center;
      justify-self: center;
}

.quiz-game-container .quiz-element .element-selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  color: #f5ede7;
  border-radius: 50%;
  border: 1px solid #f5ede7;
  background-color: green;
  font-size: 50px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  z-index: 20;
}

.quiz-game-container .quiz-element .quiz-element-image {
  width: 100%;
  height: 100%;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.quiz-game-container .quiz-element .quiz-element-image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.quiz-game-container .quiz-element .quiz-element-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.quiz-game-container .quiz-element .quiz-element-title {
  position: absolute;
  top: 90%;
}

@media (max-width: 1000px) {
  .quiz-game-container .quiz-element .quiz-element-title {
    top: 85%;
  }
}

.quiz-game-container .quiz-element .quiz-element-title p {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin: 0px 20px;
  letter-spacing: 1px;
}

@media (max-width: 1280px) {
  .quiz-game-container .quiz-element .quiz-element-title p {
    font-size: 12px;
  }
}

.quiz-game-container .quiz-element .quiz-element-title p:after {
  content: "";
  height: 1px;
  width: 200px;
  left: 0%;
  top: 100%;
  background: #f5ede7;
  position: absolute;
}
/*# sourceMappingURL=styles.css.map */